* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  */
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
}

/*
p,
h1,
h2,
h3,
h4,
a {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 400;
}
*/

h3 {
  margin-top: 20px;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h4, h5 {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.0rem;
}

a,
a:visited,
a:hover {
  color: #0000ee; /*teal;*/
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*
.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}
*/

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__hed {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  color: #8a8a8a;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#intro {
  margin-bottom: 320px;
}

#outro {
  height: 640px;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

/* Sticky overall */
#scrolly {
  position: relative;
  background-color: #f3f3f3;
  padding: 1rem;
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #8a8a8a;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}


.step {
  margin: 0 auto 2rem auto;
  color: #fff;
  background-color: rgba(0,0,0,0.1)
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active p {
  background-color: goldenrod;
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #3b3b3b;
}

/* Nav bar */
/*
#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
  height: 40px;
  font-size: 12px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 5px;
  color: white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: black; 
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: black; 
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: black; 
    font-size: 12px;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}
*/


#mainNav {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav a:hover {
  color: #007fff;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: black;
}


@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    border-bottom: none;
    background: black;
  }
  #mainNav.navbar-shrink {
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}





.masthead {
  display: table;
  width: 100%;
  height: 100%;
  /*
  height: auto;
  padding: 200px;
  */
  text-align: center;
  color: white;
  background: url("../images/rise_of_AI.png") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: screen;
  margin-bottom: 100px;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 20vh;
  padding-bottom: 30px;
  font-size: 1.75rem;
  color: white; /*#FF5A60;*/
  font-weight: bolder;
  text-shadow: 3px 5px #000000;
}

.masthead .intro-body .intro-text {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #F27200; /*#f1e0d6; #DC143C;*/
  font-weight: bold;
  text-shadow: 1px 1px #000;
  padding-top: 30px;
}


@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
    padding-top: 20vh;
  }
  .masthead .intro-body .brand-heading {
    padding-top: 3vh;
    font-size: 2.25rem;
    margin-bottom: 30px;
  }
  .masthead .intro-body .intro-text {
    margin-top: 30px;
    font-size: 1.15rem;
  }
}

.btn-circle {
  font-size: 26px;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section {
  padding-top: 10px; /*150px;*/
  padding-bottom: 10px; /*150px;*/
  text-align: left;
}

.download-section {
  color: white;
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media (min-width: 992px) {
  .content-section {
    padding-top: 50px; /*10px*/ /*150px;*/
    padding-bottom: 10px; /*150px;*/
  }
}

/* User defined */

.description {
  margin-top: 40px;
}


.img-demo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.gif-demo {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: auto;
}

.img-block {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.transition {
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  height: 200px;
  background-color: black;
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #f58231;
  text-align: center;
  font-weight: bold;
}

/* Tooltip */

.tooltip1 {
  width: 35vh;
  display: flex;
  flex-direction: column;
  min-height: 1vh;
  position: absolute;           
  text-align: center;           
  /*width: 320px;
  height: 360px;*/                
  padding: 10px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);     
}

.profile_name {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.profile_position {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 0.75rem;
}

.profile_view {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.profile_source {
  font-size: 0.75rem;
}
.expert_views {
  background-color: black;
}

.profile_image img {
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 0.75rem;
    font-style: italic;
    margin: 0.05em 0;
    padding: 0.05em 5px;
    line-height: 1.45;
    position: relative;
    color: black; /*#383838;*/
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 40px;
    position: absolute;
    left: -15px;
    top: -20px;
    color: #7a7a7a;
}

img {
  width: 100%;
  height: auto;
}

.application_name {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
}

.current_applications {
  background-color: #e0e0e0;
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.figure_sub_text {
  font-size: 0.4rem;
  text-align: right;
}

.article_author {
  color: #f1e0d6; /*#F27200;*/
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

.article_date {
  color: #f1e0d6; /*#F27200;*/
  padding-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

footer {
  margin-top: 50px;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}
.footer {
  background-color: black;
  color: white;
  text-align: left;
}

.footer p {
  padding-top: 3vh;
}

@media (max-width: 375px) {
  .masthead {
    height: 100%;
    padding: 0;
    padding-top: 5vh;
  }
  .masthead .intro-body .brand-heading {
    padding-top: 10vh;
    font-size: 1.5rem;
  }
  .masthead .intro-body .intro-text {
    font-size: 0.8rem;
  }
  .article_author {
    color: #f1e0d6; /*#F27200;*/
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 0.75rem;
  }

  .article_date {
    color: #f1e0d6; /*#F27200;*/
    padding-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 0.75rem;
  }

  p {
    font-size: 0.75rem;
  }

  li {
    font-size: 0.75rem;
  }

  .footer p {
    font-size: 0.75rem;
  }


  h3, h5 {
    font-size: 1.25rem;
  }

  .navbar a {
    font-size: 0.75rem;
    padding: 2px;
    font-weight: normal;
  }
  .navbar-toggler {
    font-size: 0.75rem;
    padding: 4px 6px;
  }
  .fas {
    font-size: 0.75rem;
  }
  .transition {
    font-size: 1.5rem;
  }

}

.block_diagram {
  width: 100%;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.prediction_image {
  background-color: black;
}

.prediction_image_row {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #dcdcdc;
  padding: 10px;
  margin-left: 5px;
  margin-top: 10px;
}


.learning_image {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
}

.learning_epoch {
  padding: 0px;
  margin: 0px;
}
.learning_epoch_title {
  margin-left: 25px;
  margin-right: 5px; 
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 0.85rem;
}

.learning_image_top {
  padding-top: 0px;
  margin-top: 0px;
}

.image_row {
  padding: 5px 0 20px 0;
}

.video_row {
  background-color: black;
  padding: 20px 20px;
}

.sub-title {
  color: #FF6500;
  padding-top: 50px;
  text-align: center;
  font-size: 1.45rem;
}

h3 {
  padding-top: 30px;
}

.script_row {
  padding: 5px 0 30px 0;
}

.profiler_image {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.p_no_top_gap {
  padding-top: 0px;
  margin-top: 0px;
}

.bold_text {
  font-weight: bold;
  font-size: 1.15rem;
}

.btn-links {
  background-color: #dedede;
  border-radius: 12px;
  color: black;
  border-color: black;
  font-size: 0.65rem;
  font-weight: 500;
}