* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 24px;
  */
  background-color: #aba6bf; /*black; /*#a9a9a9;*/
  /*text-align: justify;*/
}

p {
  font-size: 1.05rem;
  padding-top: 20px;
}

h4 {
  padding-top: 40px;
}

.intro_text {
  font-size: 1.15rem;
  text-align: center;
}

.intro_data_text {
  font-size: 0.85rem;
  color: #c0c0c0;
  padding-top: 0px;
}

.intro_data_text_title {
  color: #c0c0c0;
  font-size: 1rem;
}


/*
p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}
*/

#scrolly {
  position: relative;
  /*background-color: #f3f3f3;*/
  padding: 1rem;
}
article {
  position: relative;
  padding: 0;
  max-width: 45rem;
  margin: 0 auto;
}
figure {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 10%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50rem;
  color: #f58231;
  font-size: 2rem
}

@media (max-width: 768px) {
  figure p {
    font-size: 1.5rem;
    width: 100%;
  }
}

.step {
  margin: 0 auto 60rem auto;
  color: #fff;
  background-color: white; /*rgba(0, 0, 0, 0.1)*/
}
.step:last-child {
  margin-bottom: 0;
}
/*
.step.is-active p {
  background-color: goldenrod;
  color: #3b3b3b;
}
*/
.step p {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.zindex_0 {
  z-index: 0;
}

.zindex_10 {
  z-index: 10;
}

.step_invisible {
  background-color:#2a2a2a;
}

.transition {
  width: 100%;
    margin: 0;
    top: 0;
    left: 0;
  height: 20vh;
  background-color: #2a2a2a; /*black;*/
  font-size: 3rem;
  padding-top: 20vh;
  margin-bottom: 20vh;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #f58231;
  text-align: center;
  font-weight: bold;
}


.rhythm_definition {
  text-align: center;
  /*font-family: cursive; *//*Palatino, URW Palladio L, serif;*/
  color: #f58231;
  font-size: 2.5rem;
}

/* Rhythm definition examples */
.rhythm_definition_examples {
  padding-top: 10%;
}

/* Song card */
.artist_name {
  text-align: left;
  font-size: 0.75rem;
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*color: #4363d8;*/
}

.card-text {
  font-size: 1rem;
}

.song_name {
  text-align: left;
  font-size: 0.85rem;
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  /*color: #f58231;*/
}

.card {
  background-color:#d0d0d0;
  color: black;
}

.card_shadow {
  border-radius: 3px;
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.play_pause_button {
  padding-top: 0;
}
.play_pause_button:hover {
  background-color: #FF6347;
}

.button {
  /*
  padding: 3px 2px;
  margin: 2px;
  */
  cursor: pointer;
  text-align: center;
  /*font-size: 14px;*/
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  /*border: 1px solid #e0e0e0;*/
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: #f1e0d6;
  color: black;
}

.button.active {
  background: #000;
  color: #fff;
  border: 1px solid #ffffff;
}

.rhythm_viz_frame_top {
  margin-top: 60px;
}

.rhythm_viz_frame_title {
  font-size: 1.0rem;
  font-weight: bold;
}

.rhythm_viz_frame_subtitle {
  font-size: 1.0rem;
}

.artist_discography_subtitle {
  font-size: 0.75rem;
}

.song_name_labels {
  font-size: 1.0rem;
}

/*
.div_top_padding {
  padding-top: 40px;
}

.div_bottom_padding {
  padding-bottom: 40px;
}
*/

.all_songs_similarity_scores, .all_artists_similarity_scores {
  border: 1px solid black; /*#3f3f3f;*/
  border-radius: 5px;
  background-color:black; /*#3f3f3f;*/
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.song_discography, .decade_similarity, .most_similar_songs, .artist_discography,
.plot_rhythm_visualisation_types, .plot_song_artist_rhythm_visualisation, .top_unique_songs {
  margin-top: 20px;
  padding-top: 5px;
  border: 1px solid black; /*#3f3f3f;*/
  border-radius: 5px;
  background-color:black; /*#3f3f3f;*/
  margin-bottom: 10px;
}

.plot_song_artist_rhythm_visualisation {
  margin-top: 10px;
  padding-top: 0px;
  border: 1px solid black; /*#3f3f3f;*/
  border-radius: 5px;
  background-color:black; /*#3f3f3f;*/
  margin-bottom: 40px;
}

.all_songs_similarity_scores_title, .song_discography_title,
.decade_similarity_title, .most_similar_songs_title, .all_artists_similarity_scores_title,
.artist_discography_title, .plot_song_artist_rhythm_visualisation_title, .plot_rhythm_visualisation_types_title,
.top_unique_songs_title {
  font-size: 1.5rem;
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #f58231; /*#87CEFA;*/
  font-weight: bolder;
  padding-bottom: 10px;
}

.all_songs_similarity_scores_title {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Decade similarity */
.decade_similarity_line {
  fill: none;
  stroke: #ffd8b1; /*#0000cc; /*steelblue;*/
    stroke-width: 3px;
}

.axis line {
  stroke: white;
  shape-rendering: crispEdges;
}

.axis path {
  stroke: white;
  stroke-width: 2px;
}

.dot {
  fill: #f1e0d6; /* #0000cc;*/
}

.axis text {
  fill: white;
  font-size: 0.75rem;
  shape-rendering: crispEdges;
}

.tooltip_decade_similarity {   
  position: absolute;           
  text-align: center;           
  width: 160px;                  
  height: 40px;                 
  padding: 5px;
  font-size: 0.75rem;        
  /*font-family: New Century Schoolbook, TeX Gyre Schola, serif;*/
  background: white;   
  border: 0px;      
  border-radius: 3px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);     
}

/* Most similar songs */
.most_similar_songs_table {
  font-size: 0.75rem;
  padding-top: 30px;
}

.table_heading {
  font-size: 1rem;
}

.artist_discography img{
  width: 100%;
  height: auto;
}

.select2_select {
  width: 30vw;
  margin-bottom: 20px;
}

.rhythm_type_title {
  color: #f58231; /*#87CEFA;*/
  font-weight: bold;
}

.rhythm_type_song_title {
  color: #5DADE2; /*#c0c0c0;*/
  font-size: 1rem;
}

.rhythm_viz_song_title {
  color: #c0c0c0; /*#c0c0c0;*/
  font-size: 1rem;
  font-weight: bold;
}

.rhythm_type_artist_title {
  color: #5DADE2; /*#c0c0c0;*/
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .rhythm_viz_song_title {
    color: #c0c0c0; /*#c0c0c0;*/
    font-size: 0.5rem;
    font-weight: bold;
  }
 .rhythm_type_artist_title {
    color: #5DADE2; /*#c0c0c0;*/
    font-size: 0.5rem;
    font-weight: bold;
  } 
}

#plot_song_artist_rhythm_visualisation_subtitle {
  color: #5DADE2; /*#f58231; /*#87CEFA;*/
  font-weight: bold;
  padding-top: 5px;
  font-size: 1.5rem;
}

.tooltip_song_similarity_score {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;           
  text-align: center;           
  width: 200px;                  
  height: 60px;                 
  padding: 2px;             
  font-size: 0.75rem;        
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
}

.tooltip_artist_song_similarity_score {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;           
  text-align: center;           
  width: 200px;                  
  height: 60px;                 
  padding: 2px;             
  font-size: 0.75rem;        
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);     
}

.tooltip_artist_discography {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;           
  text-align: center;           
  width: 200px;                  
  height: 60px;                 
  padding: 2px;             
  font-size: 0.75rem;        
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);  
}

.tooltip_song_name {
  color: #f58231; /*#87CEFA;*/
  font-size: 0.75rem;
}
.legend_text {
  color: #c0c0c0;
  font-size: 0.75rem;
}

.song_discography_subtitle {
  color: #f58231;
}

.song_discography_subtitle_song {
  color: #5DADE2;
  font-weight: bold;
}

.song_discography_subtitle_artist {
  color: #5DADE2;
}

#plot_artist_discography_artist_name {
  color: #5DADE2;
  font-size: 1.5rem;
  font-weight: bold;
}

.artist_score_type {
  color: #f58231; /*#87CEFA;*/
}
.all_artists_similarity_scores_subtitle {
  font-size: 1rem;
}

.tooltip_artist_similarity_score {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;           
  text-align: center;           
  width: 200px;                  
  height: 60px;                 
  padding: 5px;             
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  font-size: 0.75rem;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
  font-size: 0.75rem;
}

.explainer_song_name {
  color: #f58231; /*#87CEFA;*/
  font-weight: bold;
}

.artist_all_songs_viz {
  padding: 10px;
}

.unique-table-song-name {
  color: #5DADE2;
  font-size: 1.0rem;
}

.similar-table-song-name {
  color: #5DADE2;
}

.unique-table-artist-name{
  color: #c0c0c0;
  font-size: 0.75rem;
}

.similar-table-artist-name {
  color: #c0c0c0;
}


#mainNav {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav a:hover {
  color: #007fff;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: black;
}


@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    border-bottom: none;
    background: black;
  }
  #mainNav.navbar-shrink {
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.nav-link {
  padding: 2px;
}



.masthead {
  display: table;
  width: 100%;
  height: 100%;
  /*
  height: auto;
  padding: 200px;
  */
  text-align: center;
  color: white;
  /*background: url("../images/music.png") no-repeat center center scroll;*/
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: screen;
  margin-bottom: 100px;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 20px;
  font-size: 2rem;
  color: #F9E79F; /*#FF5A60;*/
  font-weight: bolder;
  text-shadow: 3px 5px #000000;
}

.brand-heading-song-name {
  color: #F39C12;
}
.masthead .intro-body .intro-text {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #c0c0c0;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}


@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
    padding-top: 100px;
  }
  .masthead .intro-body .brand-heading {
    font-size: 2.5rem;
  }
  .masthead .intro-body .intro-text {
    padding-top: 20px;
    font-size: 1.5rem;
  }
}

.btn-circle {
  font-size: 26px;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.article_author, .article_date {
  color: #F27200;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

.similarity_score_example_legend {
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  .similarity_score_example_legend {
    font-size: 0.4rem;
  }
}

.rhythm_types_img img {
  width: 100%;
  height: auto;
}

.rhythm_types_cover img {
  width: 100%;
  height: auto; 
}

@media (max-width: 768px) {
  .rhythm_types_cover img { 
    margin-top: 20vh;
  }
}

.rhythm_pattern_features {
  font-size: 0.85rem;
}

.step_small_text {
  font-size: 0.8rem;
}

.rhythm_viz_explaination {
  color: #F9E79F;
}

.rhythm_type_title {
  font-size: 1.25rem;
  color: #F27200;
}

.song_name_text {
  font-weight: bold;
  color: #5DADE2;
}

.small_text_transition {
  font-size: 1.25rem;
}

.footer {
  background-color: #000;
  font-size: 0.75rem;
  margin-top: 70px;
  padding: 20px 0;
}

.footer p {
  font-size: 0.85rem;
}

.footer .large_footer_text {
  font-size: 1.0rem;
}

@media (max-width: 350px) {
  .masthead {
    height: 100%;
    padding: 0;
    padding-top: 5px;
  }
  .masthead .intro-body .brand-heading {
    font-size: 1.5rem;
  }
  .masthead .intro-body .intro-text {
    padding-top: 10px;
    font-size: 1.25rem;
  }
  .rhythm_types_cover img { 
    margin-top: 8vh;
  }
  .article_author, .article_date {
    color: #F27200;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 0.75rem;
  }
  .intro_text {
    font-size: 1rem;
  }
  .transition {
    font-size: 1.75rem;
  }
  .step p{
    font-size: 0.75rem;
  }
  .rhythm_viz_frame_subtitle {
    font-size: 0.5rem;
  }
  .artist_name {
    font-size: 0.5rem;
  }
  .song_name {
    font-size: 0.5rem;
  }
  p {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  #plot_song_artist_rhythm_visualisation_subtitle {
    font-size: 1rem;
  }
  .rhythm_type_title {
    font-size: 1rem;
  }
  .artist_discography_option {
    font-size: 0.75rem;
  }

  .footer p {
    font-size: 0.75rem;
  }
}
