.lj-slider {
  height: 3px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px 1px #fff;
          box-shadow: 0 0 1px 1px #fff;
  position: relative;
  background: #fff;
}

.lj-slider .diff {
  background: #82a431;
  position: absolute;
  height: 100%;
}

.lj-slider .pin {
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  -webkit-box-shadow: 0 0 1px 1px #fff, 0 0 1px 1px #aaa;
          box-shadow: 0 0 1px 1px #fff, 0 0 1px 1px #aaa;
  border-radius: 100%;
  background: #fff;
  background-image: url("../images/pin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  cursor: pointer;
  margin-top: -6px;
  margin-left: -10px;
}

.lj-slider.onlight {
  -webkit-box-shadow: 0 0 0 1px #aaa;
          box-shadow: 0 0 0 1px #aaa;
}
