body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black; /*#eee;*/
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 30px 0 10px 0;
}

/*
p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}
*/

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:focus, a:hover {
  text-decoration: none;
}

#mainNav {
  /*font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
  font-size: 1.0rem;
}

#mainNav .navbar-toggler {
  padding: 5px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: 100%; /*auto;*/
  /*padding: 200px 0;*/
  text-align: center;
  color: white;
  /*background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;*/
  /*background: url("../img/cover_individual.png") no-repeat center center scroll;*/
  /*background: url("../img/cover.gif") no-repeat top center scroll;*/
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  /*background-origin: border-box;*/
  margin-top: 5vh;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 2.5rem;
  color: #FF5A60;
}

.masthead .intro-body .intro-text {
  font-size: 1.25rem;
}

.intro_text {
  color: #FF5A60;
}

.cover_img img {
  width: 100%;
  height: auto;
}

/*
@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 70px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}
*/

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section {
  padding-top: 50px; /*150px;*/
  padding-bottom: 10px; /*150px;*/
}

.download-section {
  color: white;
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media (min-width: 992px) {
  .content-section {
    padding-top: 50px; /*150px;*/
    padding-bottom: 10px; /*150px;*/
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  background-color: #c0c0c0;
  margin-top: 30px;
  padding: 50px 0 20px 0;
  color: black;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.plotSideInfo {
  padding-top: 20px;
  font-size: 10px;
  color: white;
}

.listings-plot {
  padding-top: 20px;
}

.tooltip1 {   
  position: absolute;           
  text-align: center;           
  width: 220px;                  
  height: 50px;
  max-width: 30rem;                 
  padding: 2px;             
  font-size: 0.5rem;        
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
}

.tooltip2 {   
  position: absolute;           
  text-align: center;           
  width: 220px;                  
  height: 50px;                 
  max-width: 30rem;                 
  padding: 2px;             
  font-size: 0.5rem;        
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
}

.tooltip3 {   
  position: absolute;           
  text-align: center;           
  width: 200px;                  
  height: 50px;                 
  font-size: 0.5rem;        
  max-width: 30rem;                 
  padding: 2px;          
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
}

.button {
  min-width: 100px;
  padding: 3px 2px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  /*font-size: 14px;*/
  font-family: Times New Roman;
  font-weight: bold;
  /*border: 1px solid #e0e0e0;*/
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: #f1e0d6;
  color: black;
}

.button.active {
  background: #000;
  color: #fff;
  border: 1px solid #ffffff;
}


.listings_city_buttongroup, .histogram_type_buttongroup, .listings_num_buttongroup {
  padding-top: 10px;
}

.plot_caption {
  padding-top: 10px;
  color: #FF5A60;
  font-weight: bold;
  font-size: 1.5rem;
}




.listings_city_buttontext {
  font-size: 10px;
  color: white;
}

.listings_city_legend { 
  /*padding-top: 30px;*/
  color: white;
  fill: white; 
}

.listings_city_legend_text {
  font-size: 12px;
}

.mapboxgl-popup {
    max-width: 400px;
    height: 15px;
    font: 12px/20px 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
    /*'Helvetica Neue', Arial, Helvetica, sans-serif;*/
    color: black;
    font-weight: bold;
}

.label, .label_histogram {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.label_histogram {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.tooltip_hotel {   
  position: absolute;           
  text-align: center;           
  width: 180px;                  
  height: 100px;                 
  font-size: 0.75rem;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;        
  background: white;   
  border: 2px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);     
}

.tooltip_commercial {   
  position: absolute;           
  text-align: center;           
  width: 250px;                  
  height: 60px;
  max-width: 20rem;            
  font-size: 0.5rem;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;        
  background: white;   
  border: 2px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);     
}

.tooltip_histogram {   
  position: absolute;           
  text-align: center;           
  width: 230px;                  
  height: 40px;                 
  font-size: 12px;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;        
  background: white;   
  border: 2px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
}

.tooltip_numlistings_time {   
  position: absolute;           
  text-align: center;           
  width: 300px;                  
  height: 80px;                 
  font-size: 12px;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;        
  background: white;   
  border: 2px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
}

@media (min-width: 768px) {
  .tooltip_hotel {
    font-size: 0.6rem;
  }

  .tooltip_commercial {
    font-size: 0.6rem;
  }
}


.tooltip_hotel .city_name {
  font-size: 14px;
}

.airbnb_hotel_comparison, .city_commercial_plot {
  background-color: #cccccc;
  border-radius: 5px;
}

.fig-description {
  font-size: 12px;
}


.us_vs_eu, .commercial_fraction, .top_hosts_analysis {
  padding-top: 30px;
}

.city_circle_pack_title, .host_polygon_title {
  color: white; /*#FF5A60;*/
}

.circle_pack_row {
  padding-top: 5px;
}

.fraction_legend_text {
  font-size: 10px;
}

.fig-description {
  padding-top: 10px;
}

.top_hosts {
  padding-top: 30px;
}

.tophosts_sideinfo {
  color: white;
  font-size: 12px;
}

.host_polygon_img img {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}


.num_listings_time_line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.num_listings_time_grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.num_listings_time_grid path {
  stroke-width: 0;
}

.section_title {
  color: #FF5A60;
}

.section_subtitle {
  color: #87ceeb ; /*#f1e0d6;*/
}

.section_img {
  width: 100%;
  height: auto;
  max-height: 300px;
  padding-bottom: 30px;
}

.img_fight {
  width: 100%;
  height: auto;
}

#price_hotel, #us_vs_eu {
  padding-bottom: 30px;
}

.plot {
  margin: 30px 0;
}

/*
.dropdown_menu {
  padding-left: 50px;
  background-color: #f1e0d6;
  font-family: Times New Roman;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: #f1e0d6;
  color: black;
  height: 30px;
}
*/

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 2px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 2.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.city_density_type {
  margin-top: 40px;
}

.city_density_type_title {
  color: #f1e0d6;
  font-weight: bold;
  margin-bottom: 20px;
}


p {
  padding-top: 20px;
  padding-bottom: 10px;
}

.article_author {
  color: #F27200;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.0rem;
}

.article_date {
  color: #F27200;
  margin-top: 0;
  padding-top: 0;
  font-weight: bold;
  font-size: 1.0rem;
}

footer p {
  padding-top: 10px;
}

@media (max-width: 350px) {
  .masthead {
    margin-top: 12vh;
  }
  .masthead .intro-body .brand-heading {
    font-size: 1.5rem;
    color: #FF5A60;
  }

  .masthead .intro-body .intro-text {
    font-size: 1rem;
    padding-top: 20px;
  }

  .intro_text {
    font-size: 0.8rem;
    color: #FF5A60;
  }

  p {
    font-size: 0.8rem;
  }
  li {
    font-size: 0.75rem;
  }
  .section_title {
    font-size: 1.5rem;
  }
}