/* default / demo page */
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	/*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
	min-height: 1280px;
	font-weight: 300;
	color: #2a2a2a;
  	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
	background-color: #fafafa; /*#aba6bf; /*black; /*#a9a9a9;*/
	text-align: justify;
  	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*
p,
h1,
h2,
h3,
h4,
a {
	margin: 0;
	font-weight: 300;
}
a,
a:visited,
a:hover {
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}
*/
#intro {
	max-width: 40rem;
	margin: 1rem auto;
	text-align: center;
}
.intro__overline {
	font-size: 1.4rem;
}
.intro__hed {
	font-size: 1.4rem;
	margin: 1.5rem auto;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.05em;
}
.intro__dek {
	font-size: 1.4rem;
}
/* demo */
#intro {
	margin-bottom: 320px;
}
#outro {
	height: 640px;
}
/* scrollama */
#scroll1 {
	position: relative;
	background-color:black;
	color:white;
}

#scroll5 {
	position: relative;
	/*border-top: 2px dashed #000;*/
	/*border-bottom: 2px dashed #000;*/
	/*margin-bottom: 320px;*/
}

.scroll__graphic1 {
	position: absolute;
	bottom: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
}

.scroll__graphic5 {
	position: absolute;
	top: 0;
	right: 3rem; 
	bottom: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    padding-bottom: 10px;
	padding-top: 10vh;
}

.scroll__graphic1.is-fixed{ 
	position: fixed;
}

.scroll__graphic5.is-fixed {
	position: fixed;
}

.scroll__graphic1.is-bottom, .scroll__graphic5.is-bottom {
	bottom: 0;
	top: auto;
}

.scroll__graphic1 p, .scroll__graphic5 p {
	text-align: center;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 8rem;
	font-weight: 900;
	color: #666;
}

.scroll__text1 {
	position: relative;
	padding: 0 1rem;
	max-width: 50rem;
	width: 40%;
	z-index: 20;
  	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.scroll__text5 {
	position: relative;
	padding: 0 1rem;
	max-width: 50rem;
	width: 100%;
  	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.scroll__text5 {
	padding-left: 6rem;
}

.scroll__graphic1 {
	background-color: black; 
	border-radius: 3px;
}

.step5 {
	border-color: black;
}


@media (max-width: 767px) {

	.scroll__graphic1 { 
		position: absolute;
		bottom: 0;
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	    padding-top: 20vh;
	}

	.scroll__graphic5 {
		position: absolute;
		bottom: 0;
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	    padding-top: 35vh;
	}

	.scroll__graphic1 p, .scroll__graphic5 p {
		text-align: center;
		padding: 1rem;
		position: absolute;
		top: 50%;
		right: 1rem;
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 8rem;
		font-weight: 900;
	}

	.scroll__text1 {
		position: relative;
		padding: 0 1rem;
		max-width: 80rem;
		width: 100%;
	}

	.scroll__text5 {
		position: relative;
		padding: 0 1rem;
		max-width: 80rem;
		width: 100%;
	}
}


.step1, .step5 {
	margin: 0 auto 25rem auto;
}

.long-step {
	margin-bottom: 0;
}
.short-step {
	height: 0;
}

.step1:last-child {
	background-color: black;
	z-index: 0;
} 

.step5:last-child {
	background-color: #cccccc;
	/*border-bottom: 1px solid #333;*/
}

.description {
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 120px;
}

.graphic_image {
	width: 100%;
	max-width: 100%;
	height: 80%;
}

.step1 p {
	text-align: center;
	padding: 1rem;
	font-size: 1rem;
	font-weight: bold;
	background-color: white;
	color: black;
}

.step5 p {
	text-align: center;
	padding: 1rem;
	margin-right: 2rem;
	font-size: 1rem;
	font-weight: bold;
	background-color: #212121;
	color: white;
}

.step5 .short-step p {
	background-color: #ccccc;
}

.data_source {
	width: 100%;
	font-size: 0.75rem;
	position: absolute;
	bottom: 2vh;
	text-align: center;
}

.data_source_link {
	color: #0645AD;
}

.transition {
	width: 100%;
   	margin: 0;
   	top: 0;
   	left: 0;
	height: 60vh;
	background-color: #212121; /*#818181; /*#fafafa; /*black;*/
	font-size: 3rem;
	padding-top: 20vh;
	margin-bottom: 10vh;
	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #cc0000; /*#f58231;*/
	text-align: center;
	font-weight: bolder;
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.footer {
  background-color: black;
  color: white;
  text-align: left;
}

.footer p {
  padding-top: 3vh;
}


.main_title {
	color: #cc0000;
	font-weight: bolder;
}

.stock_time_line {
	fill: none;
	stroke: #cc0000; /*steelblue;*/
  	stroke-width: 2px;
}

.path_line {
	fill: none;
	stroke: #cc0000; /*steelblue;*/
  	stroke-width: 2px;
}

.plot_wild_ride {
	background-color: #cccccc;
	border-radius: 5px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.plot_wild_ride_cover {
	background-color: #cccccc;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10vh;
}

.plot_stock_time {
	background-color: #cccccc;
	border-radius: 5px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.short-step {
	height: 0;
	background-color: #cccccc;
}

.outlier_text {
	padding-top: 30px;
	padding-bottom: 30px;
}

.tooltip1 {
	background-color: white;
	font-weight: bold;
	border: 0;      
  	border-radius: 2px;
  	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
}

.tooltip1_text {
	padding: 3px;
	margin-bottom: 0;
}

.path_step {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*
.tweet_list_outer {
	display: inline-block;
}
*/
.tweet_list {
	height: 200px;
	max-height: 200px;
	overflow-y: scroll;
}

.graphic_explore {
	background-color: #212121;
	color: white;
}

.gain_loss_explanation {
	font-size: 0.75rem;
}

.date_title {
	font-size: 1rem;
	font-weight: bold;
}

.axisWhite path{
	stroke: white;
}
.axisWhite text{
	fill: white;
}

.gain_loss_comparison_title, .daily_change_plot_title {
	font-size: 1.25rem;
	font-weight: bold;
	color: white;
}

.daily_change_plot_subtitle {
	font-size: 0.75rem;
	color: white;
}

.plot_legend_title {
	font-size: 0.75rem;
}

.hotel_legend_text {
	font-size: 0.75rem;
}

.graphic_legend {
	font-size: 0.75rem;
}

.tooltip1 {   
  position: absolute;           
  text-align: center;           
  width: 260px;                  
  height: 100px;                 
  padding: 2px;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  background: #fafafa;   
  border: 0px;      
  border-radius: 4px;           
  pointer-events: none;
  color: black;
  border-color: black;
}

.company_name {
	font-size: 0.85rem;
	font-weight: bold;
}

.dot {
	z-index:40;
}

#mainNav {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
  height: 7vh;
}

#mainNav .navbar-toggler {
  font-size: 1.2rem;
  color: white;
  border: 1px solid white;
  background-color: black;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

.navbar-collapse {
  background-color: black;
}

#mainNav a:hover {
  color: #007fff;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

.masthead {
  display: table;
  width: 100%;
  height: 100%;
  /*
  height: auto;
  padding: 200px;
  */
  text-align: center;
  color: white;
  /*background: url("../data/water_cover.png") no-repeat bottom scroll;*/
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: screen;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  padding-top: 20px;
  font-size: 2rem;
  color: #cc0000; /*#74cbea; /*white; /*#FF5A60;*/
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.masthead .intro-body .intro-text {
  font-size: 1.25rem;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #c0c0c0;
}


@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
    padding-top: 5vh;
  }
  .masthead .intro-body .brand-heading {
    font-size: 2.5rem;
  }
  .masthead .intro-body .intro-text {
    font-size: 1.5rem;
  }
}

.intro-text {
  color: white;
}

.article_author, .article_date {
	font-size: 1.0rem;
  	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	color: #F27200;
  	font-weight: bold;
}

.btn-circle {
  font-size: 26px;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.masthead img {
	width: 100%;
	height: auto;
}

.cover_image {
	padding-bottom: 0;
	margin-bottom: 0;
}
